.MagicBrain {
  width: 160px;
  height: 39px;
  font-family: Lato;
  font-size: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.05px;
  text-align: center;
  color: #413fa0;
}
